@import "../../defaults/fonts/fonts.css";
:root {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #8d4d73;
  color: #eee;
  padding: 16px;
}
header h1 {
  margin-top: 0;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: #eee;
  text-decoration: none;
}
header nav a:hover {
  color: #cea5bd;
}

footer {
  background-color: #8d4d73;
  padding: 16px;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
footer .icon.facebook {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: #eee;
  background-color: #45568e;
}
footer .icon.linkedin {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: #eee;
  background-color: #0073b1;
}
footer .icon.twitter {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: #eee;
  background-color: #72a4e3;
}

/*# sourceMappingURL=index.css.map */
