@mixin social ($color: #45568e) {
  $social-size: $size * 0.85;
  text-align: center;
  font-size: $social-size;
  width: $social-size * 1.5;
  height: $social-size * 1.5;
  padding: 0.5 * $social-size;
  color: $color-white;
  background-color: $color;
}

footer {
  background-color: $color-dark-pink;
  padding: $size;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  .icon {
    &.facebook {
      @include social();
    }
    &.linkedin {
      @include social(#0073b1);
    }
    &.twitter {
      @include social(#72a4e3);
    }
  }
}
