header {
  background-color: $color-dark-pink;
  color: $color-white;
  padding: $size;

  h1 {
    margin-top: 0;
  }

  nav {
    display: flex;
    justify-content: space-around;

    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-light-pink;
      }
    }
  }
}
