@import "../../defaults/fonts/fonts.css";
@import "./variables";

:root {
  font-family: Rubik, sans-serif;
  font-size: $size;
}

body {
  margin: 0;
  padding: 0;
}

@import "./header";
@import "./footer";
