@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  src: url(./Rubik-VariableFont_wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-display: swap;
  src: url(./Rubik-Italic-VariableFont_wght.ttf) format('truetype-variations');
}
