@import url('./fonts/fonts.css');
@import url('./default-nav.css');

:root {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;

  --width: 4em;
  --padding: 0.5em
}

:root.animated div {
  animation: fontSize 4s infinite alternate;
  animation-timing-function: cubic-bezier(.16,.49,.88,.62);
}

div {
  border: 1px solid grey;
  border-radius: 0.25rem;
  margin: 0 1rem 1rem 0;
  padding: var(--padding);
  text-align: center;
  width: var(--width);
  float: left;
  font-size: 4em;
  font-weight: 300;
  box-sizing: border-box;
}

div.opacity {
  position: relative;
  padding: 0;
}

div.opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  z-index: 0;
  background-image: url('./images/wood.jpg');
}
div.opacity span{
  position: relative;
  padding: var(--padding);
  width: var(--width);
  display: block;
  box-sizing: border-box;
}

@keyframes fontSize {
	0% {
		font-weight: 300;
	}
	100% {
		font-weight: 900;
	}
}

.content {
  font-size: 2em;
  width: 8em;
  padding: 1em;
  border: 0.5em dashed darkgray;
}

.circle {
  --size: 3em;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
}
