@import url('./fonts/fonts.css');
@import url('./default-nav.css');

:root {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;

  --width: 4em;
  --padding: 0.5em
}

main {
  border: 1px solid darkgrey;
  border-radius: 0.25rem;
  padding: 0;
}

div {
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: var(--padding);
  text-align: center;
  width: var(--width);
  font-size: 2.5em;
  font-weight: 300;
  box-sizing: border-box;
}
div:nth-of-type(1) {
  background-color: #95CBCC;
  height: 2.5em;
}
div:nth-of-type(2) {
  background-color: #F3D67F;
}
div:nth-of-type(3) {
  background-color: #BEA28C;
  height: 3em
}
div:nth-of-type(4) {
  background-color: #E8B499;
}
div:nth-of-type(5) {
  background-color: #E7D8A9;
  height: 3.25em;
}
div:nth-of-type(6) {
  background-color: #C1C59B;
}
div:nth-of-type(7) {
  background-color: #C0DFB1;
  height: 4em;
}
div:nth-of-type(8) {
  background-color: #DCE9BD;
}
div:nth-of-type(9) {
  background-color: #F8F5E2;
  height: 3em;
}
div:nth-of-type(10) {
  background-color: #FDDB93;
}
div:nth-of-type(11) {
  background-color: #FCC590;
  height: 2.8em
}
div:nth-of-type(12) {
  background-color: #F2B898;
}
div:nth-of-type(13) {
  background-color: #AFC0E3;
  height: 3.4em;
}
div:nth-of-type(14) {
  background-color: #EBDED1;
}
div:nth-of-type(15) {
  background-color: #E8CAB9;
  height: 3em;
}
div:nth-of-type(16) {
  background-color: #DAB5D2;
}
