@import "../../defaults/fonts/fonts.css";
:root {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}
header {
  background-color: #2a7b0d;
  color: #eee;
  padding: 16px;
}
header h1 {
  margin-top: 0;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: #eee;
  text-decoration: none;
}
header nav a:hover {
  color: #e1fbd8;
}
header nav a.active {
  color: #bef6aa;
}
main {
  padding: 16px 32px;
  background-color: #32920f;
  color: #eee;
}
main > h1,
main > h2 {
  text-align: center;
  margin-bottom: 0;
}
main > h1 {
  font-size: 40px;
}
main > section article {
  margin-bottom: 3em;
}
main > section article code {
  background-color: black;
  padding: 5px;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
footer {
  background-color: #2a7b0d;
  padding: 16px;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
footer .icon.facebook {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: white;
  background-color: #45568e;
}
footer .icon.linkedin {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: white;
  background-color: #0073b1;
}
footer .icon.twitter {
  text-align: center;
  font-size: 13.6px;
  width: 20.4px;
  height: 20.4px;
  padding: 6.8px;
  color: white;
  background-color: #72a4e3;
}
