@import url("../defaults/default-colors.css");

div {
  color: white;
}

.name {
  background-color: darkorchid;
}

.rgb {
  background-color: #9933cc;
  background-color: #93c;
  background-color: rgb(153, 51, 204);
  background-color: rgb(60%, 20%, 80%);
}

.rgba {
  background-color: rgba(153, 51, 204, 0.4);
  background-color: rgba(60%, 20%, 80%, 0.6);
  background-color: #9933cc66;
  background-color: #93c6;
}

.hsl {
  background-color: hsl(280, 60%, 50%);
}

.hsla {
  background-color: hsl(280, 60%, 50%, 0.4);
}

.svg {
  height: 2.5em;
  background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.363 8.584-7.378-1.127-3.307-7.044c-.247-.526-1.11-.526-1.357 0l-3.306 7.044-7.378 1.127c-.606.093-.848.83-.423 1.265l5.36 5.494-1.267 7.767c-.101.617.558 1.08 1.103.777l6.59-3.642 6.59 3.643c.54.3 1.205-.154 1.103-.777l-1.267-7.767 5.36-5.494c.425-.436.182-1.173-.423-1.266z' fill='%23ffc107' /%3E%3C/svg%3E%0A");
  background-image: url("../images/cheers.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px 80px;

  background-position: 20px 80px;
  background-position: top right;
  background-position: 50px center;
  background-position: center center;
}

.linear-gradient {
  background-image: linear-gradient(rgb(82, 0, 0), rgb(139, 24, 24));
  background-image: linear-gradient(red 10px, yellow 30%, navy 50%);
  background-image: linear-gradient(red, orange, yellow, green, blue, purple, red);

  background-image: linear-gradient(0.25turn, red, yellow);
  background-image: linear-gradient(to top, blue, yellow);
  background-image: linear-gradient(to bottom right, green, blue);

  background-image: linear-gradient(to bottom, red 0 20%, yellow 20% 80%, red 80% 100%);
  background-image: linear-gradient(to bottom, red 20%, yellow 20% 80%, red 80%);
}

.radial-gradient {
  background-image: radial-gradient(red, blue);
  background-image: radial-gradient(red 10px, yellow 50%, blue 80%);
  background-image: radial-gradient(circle, red 10px, yellow 50%, blue 80%);

  background-image: radial-gradient(at top right, green, lightgreen);
  background-image: radial-gradient(circle at top left, green, lightgreen);
  background-image: radial-gradient(circle at 50px 25%, red, yellow);
  background-image: radial-gradient(circle at bottom 10px right 10px, red, rgb(0, 255, 8));

  /* closest-corner farthest-corner farthest-side */
  background-image: radial-gradient(ellipse closest-side at 30% 30%, oldlace, crimson);
}

.repeated-gradient {
  background-image: repeating-linear-gradient(to right, black 4%, white 4%, 12%, black 12% 16%);
  background-image: repeating-radial-gradient(circle at 100%, black 4%, white 4%, 12%, black 12% 16%);
}

.conic-gradient {
  background-image: conic-gradient(red, orange, yellow, green, blue);
  background-image: conic-gradient(from 45deg,
  red 60deg,
  white 60deg 120deg,
  red 120deg 180deg,
  white 180deg 240deg,
  red 240deg 300deg,
  white 300deg);

  background-image: conic-gradient(from 60deg, transparent 60deg, yellow 60deg);

  position: relative;
  border: none;
}

.conic-gradient::before {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: 40%;
}

.clip {
  background-image: url("../images/tile.png");
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
}

.multiple {
  background-image: radial-gradient(ellipse at top, lightpink, transparent),
  radial-gradient(ellipse at bottom, yellow, transparent);

  background-image: url("../images/star.svg"),
                    url("../images/star.svg"),
                    url("../images/star.svg"),
                    url("../images/star.svg"),
                    radial-gradient(circle at top right, silver, gray 20%, transparent 20%),
                    radial-gradient(ellipse at bottom, blue, navy);
  background-repeat: no-repeat;
  background-size: 10%, 8%, 5%, 15%, 100%, 100%;
  background-position: 10px 20px, 40% 40%, center 10px, 80% 50px, center, center;
}

.multiple-clip {
  background-image: url("../images/tile.png"), url("../images/star.svg"), radial-gradient(ellipse at bottom, blue, navy);
  background-clip: content-box, padding-box, border-box;
}

.repeat {
  clear: both;
  width: 15em;
  background-image: url("https://emojimage.toad.cz/🍺");
  background-size: 100px 100px;
  background-position-y: center;
  background-repeat: round space;
}
