@import url("../defaults/default-flex-grid.css");

div {
  width: auto;
  height: auto !important;
}

main {
  display: grid;
  width: 50vw;
  grid-template-columns:  2fr 0.25fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
  "hlavicka hlavicka hlavicka"
  "main . aside"
  "paticka paticka paticka";
}

.header {
  grid-area: hlavicka;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: paticka;
}
