@import url("../defaults/default-flex-grid.css");

div {
  width: auto !important;
  height: auto !important;
}
main {
  display: grid;
  width: auto;

 grid-template-columns: [prvni-s] 1fr [druha-s] 1fr [treti-s] 1fr [ctvrta-s] 1fr [pata-s] 1fr [sesta-s] 1fr [sedma-s];
 grid-template-rows: [prvni-v] 80px [druha-v] 80px [treti-v] 80px [ctvrta-v] 80px [pata-v] 80px [sesta-v]
}

.children-a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.children-b {
  grid-column-start: treti-s;
  grid-column-end: span 2;
  grid-row-start: druha-v;
  grid-row-end: span 2;
}
.children-c {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}
.children-d {
  grid-area: prvni-v / 4 / span 3 / 6;
}
