@import url("../defaults/default-flex-grid.css");

div {
  min-width: 2.5em;
  min-height: 2.5em;
  width: auto;
  height: auto;
}

main {
  display: grid;
  width: 50vw;
  height: 50vh;

  grid-template-rows: 100%;
  grid-template-columns: 1fr;
}

div {
  justify-self: center;
  align-self: center;

  place-self: end center;
}
