@import url("../defaults/default-flex-grid.css");

div {
  width: auto;
  height: auto !important;
}

main {
  display: grid;
  grid-template-columns:  1fr 2fr 1fr 1fr;
  grid-template-rows: 5em 6em 10em 5em;

  row-gap: 20px;
  column-gap: 0.25em;

  gap: 20px 0.25em;
}
