@import url('../defaults/fonts/fonts.css');

:root {
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 2fr 2em 2fr;
  grid-template-columns: 1fr 2fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
}

#grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#grid article {
  border: 1px solid #ccc;
  min-height: 3em;
  box-sizing: border-box;
  padding: 0.25em;
}

.logo {
  margin-top: 2em;
  text-align: center;
}

.logo img {
  width: 350px;
  height: 350px;
}
