@import url("../defaults/fonts/fonts.css");
@import url("../defaults/default-nav.css");

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
article {
  margin-bottom: 20px;
}

article > div {
  text-align: center;
  padding: 5px;
  margin:5px 0;
  border: black 1px solid;
  background-color: darkgray;
}
article > span {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 5px;
  margin: 5px 20px;
  width: 50px;
  height: 50px;
  border: black 1px solid;
  background-color: darkgray;
}

.ch {
  width: 30ch;
}
.em {
  width: 19em;
}
.ex {
  width: 36ex;
}
/*
html {
  font-size: 10px;
}
*/
.rem {
  width: 19rem;
}
.vh {
  width: 50vh;
  font-size: 5vh;
}
.vw {
  width: 50vw;
}

.vmin {
  width: 50vmin;
}
.vmax {
  width: 50vmax;
}

.px {
  width: 288px;
}
.cm {
  width: 8cm;
}
.mm {
  width: 80mm;
}
.in {
  width: 3in;
}
.pc {
  width: 19pc;
}
.pt {
  width: 226pt;
}

.deg {
  transform: rotate(45deg);
}
.rad {
  transform: rotate(calc(3.14rad / 4));
}
.grad {
  transform: rotate(50grad);
}
.turn {
  transform: rotate(0.125turn);
}

.minmax {
  width: min(50vw, 200px);
  width: max(50vw, 200px);
  width: clamp(200px, 50vw, 400px);
}

body {
  --primary-color: #5ca538;
  --secondary-color: #385ea5;

  --size: 50px;
}

.custom-props {
  width: var(--size);
  height: var(--size);
  background-color: var(--primary-color);
}
.custom-props:hover {
  background-color: var(--secondary-color);
}
