@import url('../defaults/fonts/fonts.css');
@import url('../defaults/default-nav.css');

div > label {
  display: block;
  padding: 5px;
}
main > div, main > article {
  margin-bottom: 2em;
}

article.div6 {
  display: flex;
  gap: 1em;
}
article.div6 span, article.div6 b {
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid blueviolet;
  border-radius: 0.25em;
  line-height: 1em;
  text-align: center;
}

:root {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/*
main * {
  border: 1px solid limegreen;
  margin: 5px;
}
*/

p ~ p {
  background-color: limegreen;
}

p + p {
  background-color: mediumorchid;
}

div.div3 > span {
  background-color: mediumpurple;
}

.div4:hover {
  background-color: mediumseagreen;
}

.div5 > .enabled input:enabled {
  border: 1px solid palegreen;
  color: darkgreen;
}

.div5 > .enabled input:disabled,
.div5 > .enabled input:read-only {
  border: 1px solid steelblue;
  color: gray;
  background-color: lightgray;
}

.div5 > .enabled input:read-only:focus-visible {
  outline: none;
}

.div5 .placeholder input:placeholder-shown {
  color: steelblue;
  text-overflow: ellipsis;
}

.div5 .checkbox .container {
  display: inline-block;
  width: 2em;
  border: 1px solid gray;
}

.div5 .checkbox .container .handler {
  display: block;
  width: 1em;
  height: 1em;
  background-color: darkgrey;
  cursor: pointer;
}

.div5 .checkbox input:checked + .container .handler {
  float: right;
  background-color: darkgreen;
}

.div5 .checkbox input {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}

.required input + span {
  display: none;
}
.required input:required + span {
  display: initial;
}

.valid input {
  outline: none;
}

.valid input:valid {
  border-color: greenyellow;
}
.valid input:invalid {
  border-color: orangered;
}

.div6 :first-child { /* last-child */
  background-color: darkolivegreen;
}

.div6 :nth-child(2) { /* nth-last-child */
  background-color: gray;
}

.div6 :nth-child(even) { /* odd */
  background-color: burlywood;
}

.div6 :nth-child(3n) {
  background-color: cornflowerblue;
}
.div6 :nth-child(n + 6) {
  background-color: crimson;
}

.div6 :nth-child(-n + 2) {
  background-color: darkorchid;
}

.div6 :nth-child(n+2):nth-child(-n + 5) {
  background-color: orangered;
}

.div6 span:nth-of-type(7) { /* first-of-type last-of-type nth-last-of-type */
background-color: brown;
}
