@import url("../defaults/fonts/fonts.css");
@import url("../defaults/default-nav.css");

:root {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
main > div {
  margin-bottom: 2em;
}

.lipsum p::first-line {
  font-weight: 450;
}
.lipsum p::first-letter {
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  color: indigo;
  font-family: cursive;
}

input[type="file"]::file-selector-button {
  border: 2px solid #040f9e;
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
  background-color: #8d92d1;
}
input[type="file"]::file-selector-button:hover {
  border: 2px solid #049e8f;
  background-color: #0492d1;
}

::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.red::placeholder {
  color: red;
}

p::selection {
  background-color: black;
  color: white;
}

cite {
  position: relative;
  margin-left: 2em;
}
cite::after, cite::before {
  font-size: 5em;
  position: absolute;
}

cite::before {
  content: "„";
  bottom: -0.25em;
  left: -0.3em;
}

cite::after {
   content: "“";
  top: -0.25em;
  right: -0.3em;
}

.valid input {
  padding-right: 1.2em;
}
.valid input + span {
  position: relative;
}
.valid input + span::before {
  position: absolute;
  display: inline-block;
  width: 1em;
  right: 0;
}

.valid input:valid + span::before {
  content: "✔";
  color: green;
}
.valid input:invalid + span::before {
  content: "❗";
  color: red;
}

.attrib span::before {
  content: attr(data-before);
}
.attrib span::after {
  content: attr(data-after);
}
