@import url("../defaults/default-flex-grid.css");

main {
  display: flex;

  flex-direction: row-reverse;
  flex-wrap: wrap;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  /*
  height: 80vh;
  width:45vw;

  align-content: center;
  */
}

div {
  width: auto;
  flex-basis: 10vw;
  flex-shrink: 0;
  flex-grow: 1;
  flex: 0 1 10vw;
}

div:nth-of-type(1) {
  flex-shrink: 2;
  order: 2;
}
div:nth-of-type(2) {
  flex-shrink: 1;
  order: 1;
}

div:nth-of-type(3) {
  flex-grow: 3;
}
