@import url("../defaults/fonts/fonts.css");
@import url("../defaults/default-nav.css");

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-image: url("../images/tile.png");
}
